QAIRT_SDK_ROOT=/home/curious/Documents/hermes-projects/OnDevAI_external/v2.45.0.260326/qairt/2.45.0.260326
QNN_SDK_ROOT=/home/curious/Documents/hermes-projects/OnDevAI_external/v2.45.0.260326/qairt/2.45.0.260326
ONDEVAI_QAIRT_PYTHON=/home/curious/Documents/hermes-projects/OnDevAI_external/.conda-qairt310/bin/python
ANDROID_NDK_ROOT=/home/curious/Android/Sdk/ndk/27.3.13750724
ONDEVAI_QNN_ADB_SERIAL=192.168.29.11:41993
